:root {
    --editor-width: 1440px;
    --background-color: rgba(255, 255, 255, 0.8);
    --web-font-family: "微软雅黑", "宋体", sans-serif;
    --custom-color: #24292e;
}

body {
    margin: 0;
    color: var(--custom-color);
    overflow-x: hidden;
    font-family: var(--body-font);
    font-size: 16px;
}

h1 {
    font-size: 48px;
    line-height: 1.0833333333;
}

h2 {
    font-size: 36px;
    line-height: 1.4444444444;
}

h3 {
    font-size: 24px;
    line-height: 1.0833333333;
}

h4 {
    font-size: 20px;
    line-height: 1.2380952381;
}

h5 {
    font-size: 16px;
    line-height: 1.0833333333;
}

h6 {
    font-size: 14px;
    line-height: 1.0833333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5rem 0;
}

p {
    color: var(--custom-color);
    font-family: var(--body-font);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--custom-color);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a i {
    padding: 0 2px;
}

.editor-parent {
    position: relative;
    flex: 1;
}

.overlay {
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(var(--editor-width) / 2);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    pointer-events: none;
}

.editor-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 设置高度来撑开容器，使其垂直居中 */
    width: var(--editor-width);
    min-height: auto;
}

/*---------新建文章和文章修改--------------------------------------*/

form {
    text-align: left;
    padding-left: 100px;
    padding-right: 10px;
}

.el-button {
    width: 60px;
    margin: 20px 0 0 0;
}

.article-main {
    padding: 40px;
    margin-left: 138px;
    margin-bottom: 60px;
    text-align: center;
    font-size: large;
}

.article-element {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    background-color: var(--background-color);
}

.article-title {
    flex: 1;
    margin-bottom: 20px;
    height: 52px;
    width: 312px;
}

.title-input {
    box-shadow: none;
    height: 44px;
}

.article-avatar {
    flex: 1;
    margin-top: 20px;
    margin-left: -130px;
}

.custom-form-item {
    display: block;
}

.category-choice {
    flex: 1;
    margin-left: -100px;
    width: 312px;
}

.category-item,
.article-item {
    display: block; /* 让每个 div 元素独自占据一行 */
    text-align: left; /* 文字左对齐 */
    margin-left: 10px; /* 可选的，添加底部间距 */
    margin-bottom: 10px;
    font-size: small;
    width: 90%;
}

.category-item:hover,
.article-item:hover {
    background-color: #f4f4f4; /* 将背景颜色改为灰色 */
    color: #0684bd; /* 将文字颜色改为蓝色 */
}

.pendant {
    display: inline-block;
    padding: 10px;
    width: 260px;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(192, 192, 192, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--web-font-family);
    font-weight: bold;
}

.pendant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendant-title {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px 0 10px 0;
}

.pendant-more {
    display: block;
}

.pendant-more:hover {
    color: #0684bd; /* 将文字颜色改为蓝色 */
    cursor: pointer;
}

.vditor-custom {
    min-height: 720px;
    width: 1440px;
    min-width: 1440px;
}

/*-----------ArticleList-----------------------------*/
.article-list-block {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

span.bot {
    margin: 0 5px 0 5px;
    color: rgba(128, 128, 128, 1);
}

.article-category-hover:hover {
    color: black;
}

.article-list-main-container {
    width: 100%;
    padding: 20px; /* 添加内边距以增加内容与边框的间距 */
    margin: 0 auto
}

.article-category {
    font-size: small;
    font-weight: bold;
    color: rgba(128, 128, 128, 1);
    letter-spacing: 1px; /* 字体间距 */
}

.main-container {
    display: block;
    width: 100%;
    margin: 52px auto 0;
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0 0 0;
}

.article-container {
    padding: 1.5em 2em 1.5em 2em;
}

.article-title-new {
    font-weight: bold;
}

.article-title-new:hover {
    color: gray;
    cursor: pointer;
}

.buttom-bar {
    padding: 0.5em 1em 0.5em 1em;
}

.buttom-attribute {
    display: flex;
    border-top: 1px solid rgba(192, 192, 192, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 0;
}

.read-full-text {
    margin-left: auto;
    color: rgba(128, 128, 128, 1);
}

.read-full-text-hover:hover {
    color: black;
    cursor: pointer;
}

.article-create {
    font-size: small;
    color: rgba(128, 128, 128, 1);
}