:root {
    --editor-width: 1440px;
    --background-color: rgba(255, 255, 255, 0.8);
    --web-font-family: "微软雅黑", "宋体", sans-serif;
    --paragraph-color: #666666;
}

a {
    text-decoration: none;
    color: var(--paragraph-color);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a i {
    padding: 0 2px;
}

.editor-parent {
    position: relative;
    flex: 1;
}

.overlay {
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(var(--editor-width) / 2);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    pointer-events: none;
}

.editor-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 设置高度来撑开容器，使其垂直居中 */
    width: var(--editor-width);
}

/*---------新建文章和文章修改--------------------------------------*/

form {
    text-align: left;
    padding-left: 100px;
    padding-right: 10px;
}

.el-button {
    width: 60px;
    margin: 20px 0 0 0;
}

.article-main {
    padding: 40px;
    margin-left: 138px;
    margin-bottom: 60px;
    text-align: center;
    font-size: large;
}

.article-element {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    background-color: var(--background-color);
}

.article-title {
    flex: 1;
    margin-bottom: 20px;
    height: 52px;
    width: 312px;
}

.title-input {
    box-shadow: none;
    height: 44px;
}

.article-avatar {
    flex: 1;
    margin-top: 20px;
    margin-left: -130px;
}

.custom-form-item {
    display: block;
}

.category-choice {
    flex: 1;
    margin-left: -100px;
    width: 312px;
}

.category-item,
.article-item {
    display: block; /* 让每个 div 元素独自占据一行 */
    text-align: left; /* 文字左对齐 */
    margin-left: 10px; /* 可选的，添加底部间距 */
    margin-bottom: 10px;
    font-size: small;
    width: 90%;
}

.category-item:hover,
.article-item:hover {
    background-color: #f4f4f4; /* 将背景颜色改为灰色 */
    color: #0684bd; /* 将文字颜色改为蓝色 */
}

.pendant {
    display: inline-block;
    padding: 10px;
    width: 260px;
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(192, 192, 192, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--web-font-family);
    font-weight: bold;
}

.pendant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendant-title {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    padding: 5px 0 10px 0;
}

.pendant-more {
    display: block;
}

.pendant-more:hover {
    color: #0684bd; /* 将文字颜色改为蓝色 */
    cursor: pointer;
}